<h1>Ayuda</h1>

<p>
    Es un juego de preguntas y respuestas.
    Por medio de la barra de navegacion es posible ver las preguntas existentes asi como jugar en la modalidad random de manera que te 
    iran saliendo preguntas de manera aleatoria y se ir치 contabilizando el numero de preguntas acertadas pudiendo ganar en el caso de que 
    contestes todas correctamente o bien perder si fallas alguna.
    Adem치s, es posible registrarte como usuario teniendo acceso asi a una pesta침a con tus preguntas y pudiendo visualizar una serie de 
    pistas que te guiar치n hasta la respuesta
</p>


